html {
    box-sizing:border-box;
    font-family: 'Tapestry' , cursive;
}

*,
*:before
*:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(220, 220, 235);
}
:root {
    --keyboard: hsl(60, 4%, 5%);
    --keyboard-shadow: hsla(0, 3%, 11%, 0.948);
    --keyboard-border: hsl(20, 3%, 17%);
    --black-10: hsla(0, 0%, 0%, 0.1);
    --black-20: hsla(0, 0%, 0%, 0.2);
    --black-30: hsla(0, 0%, 0%, 0.975);
    --black-50: hsla(0, 0%, 0%, 0.5);
    --black-60: hsla(0, 0%, 0%, 0.6);
    --white-20: hsla(0, 0%, 100%, 0.2);
    --white-50: hsl(0, 0%, 100%);
    --white-80: hsla(0, 0%, 100%, 0.8);
}
.white,
.black {
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0.5rem 0;
    user-select: none;
    cursor: pointer;
}
#keys li:first-child{
    border-radius: 5px 0 5px 5px;
}

#keys li:last-child {
    border-radius: 0 5px 5px 5px;
}
.white {
    height: 12.5rem;
    width: 3.5rem;
    z-index: 2;
    border-left: 2px solid hsl(0, 0%, 73%);
    border-bottom: 2px solid hsl(0, 0%, 73%);
    border-radius: 0px 0px 5px 5px;
    box-shadow: -1px 0 0 var(--white-80) inset, 1px 5px 5px hsl(0, 0%, 80%) inset, 
        0 0 5px var(--black-20);
    background: linear-gradient(to bottom, hsl(0, 0%, 100%) 0%, white 100%);
    color: var(--black-30);
}
.black {
    height: 8rem;
    width: 2rem;
    margin: 0 0 0 -1rem;
    z-index: 3;
    border: 1.5px solid black;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px var(--white-20) inset, 0 -5px 2px 3px var(--black-60) inset,
        0 2px 4px var(--black-50);
    background: linear-gradient(85deg, hsl(0, 0%, 13%) 0%, hsl(0, 0%, 30%) 80%);
    color: var(--white-50);
}
.white.pressed {
    border-top: 1px solid hsl(0, 0%, 47%);
    border-left: 1px solid hsl(0, 0%, 60%);
    border-bottom: 1px solid hsl(0, 0%, 60%);
    box-shadow: 2px 0 3px var(--black-10)inset, -5px 5px 20px var(--black-20)inset,
        0 0 3px var(--black-20);
    background: linear-gradient(to bottom, white 0%, hsl(0, 0%, 91%)100%);
    outline: none;
}
.black.pressed {
    box-shadow: -1px -1px 2px var(--white-20)inset, 0 -2px 2px 3px var(--black-60)inset,
        0 1px 2px var(--black-50);
    background: linear-gradient(to right, hsl(0, 0%, 27%) 0%, hsl(0, 0%, 13%)100%);
    outline: none;
}
.offset {
    margin: 0 0 0 -1.05rem;
}
#keyboard {
    height: 15.50rem;
    width: 73.7rem;
    margin: 0.5rem auto;
    padding: 3rem 0 0 3rem;
    z-index: 1;
    position: inherit;
    border: 10px solid var(--keyboard-border);
    border-radius: 1rem;
    background-color: var(--keyboard);
    box-shadow: 0 0 80px var(--black-50) inset, 0 1px var(--keyboard-shadow) inset,
        0 5px 15px var(--black-50);
}

@media only screen and (max-width: 1200px) {
    .white {
        height: 12.5rem;
        width: 2.8rem;
        z-index: 2;
        border-left: 2px solid hsl(0, 0%, 73%);
        border-bottom: 4px solid hsl(0, 0%, 73%);
        border-radius: 0px 0px 5px 5px;
        box-shadow: -1px 0 0 var(--white-80) inset, 1px 5px 5px hsl(0, 0%, 80%) inset,
            0 0 5px var(--black-20);
        background: linear-gradient(to bottom, hsl(0, 0%, 100%) 0%, white 100%);
        color: var(--black-30)
    }
}
@media only screen and (max-width: 1024px) {
    .white {
        height: 12.5rem;
        width: 2.3rem;
        z-index: 2;
        border-left: 2px solid hsl(0, 0%, 73%);
        border-bottom: 4px solid hsl(0, 0%, 73%);
        border-radius: 0px 0px 5px 5px;
        box-shadow: -1px 0 0 var(--white-80) inset, 1px 5px 5px hsl(0, 0%, 80%) inset,
            0 0 5px var(--black-20);
        background: linear-gradient(to bottom, hsl(0, 0%, 100%) 0%, white 100%);
        color: var(--black-30)
    }
}
@media only screen and (max-width: 768px) {
    .white {
        height: 16.5rem;
        width: 1.8rem;
        z-index: 2;
        border-left: 2px solid hsl(0, 0%, 73%);
        border-bottom: 4px solid hsl(0, 0%, 73%);
        border-radius: 0px 0px 5px 5px;
        box-shadow: -1px 0 0 var(--white-80) inset, 1px 5px 5px hsl(0, 0%, 80%) inset,
            0 0 5px var(--black-20);
        background: linear-gradient(to bottom, hsl(0, 0%, 100%) 0%, white 100%);
        color: var(--black-30)
    }
}
@media only screen and (max-width: 480px) {
    .white {
        height: 18.5rem;
        width: 1.1rem;
        z-index: 2;
        border-left: 2px solid hsl(0, 0%, 73%);
        border-bottom: 4px solid hsl(0, 0%, 73%);
        border-radius: 0px 0px 5px 5px;
        box-shadow: -1px 0 0 var(--white-80) inset, 1px 5px 5px hsl(0, 0%, 80%) inset,
            0 0 5px var(--black-20);
        background: linear-gradient(to bottom, hsl(0, 0%, 100%) 0%, white 100%);
        color: var(--black-30)
    }
}

@media only screen and (max-width: 1200px) {
    .black {
        height: 8rem;
        width: 2rem;
        margin: 0 0 0 -1rem;
        z-index: 3;
        border: 1.5px solid black;
        border-radius: 0 0 3px 3px;
        box-shadow: -1px -1px 2px var(--white-20) inset,
            0 -5px 2px 3px var(--black-60) inset, 0 2px 4px var(--black-50);
        background: linear-gradient(85deg, hsl(0, 0%, 13%) 0%, hsl(0, 0%, 30%) 80%);
        color: var(--white-50);
    }
}

@media only screen and (max-width: 1024px) {
    .black {
        height: 8rem;
        width: 2rem;
        margin: 0 0 0 -1rem;
        z-index: 3;
        border: 1.5px solid black;
        border-radius: 0 0 3px 3px;
        box-shadow: -1px -1px 2px var(--white-20) inset,
            0 -5px 2px 3px var(--black-60) inset, 0 2px 4px var(--black-50);
        background: linear-gradient(85deg, hsl(0, 0%, 13%) 0%, hsl(0, 0%, 30%) 80%);
        color: var(--white-50);
    }
}

@media only screen and (max-width: 768px) {
    .black {
        height: 10rem;
        width: 1.8rem;
        margin: 0 0 0 -1rem;
        z-index: 3;
        border: 1.5px solid black;
        border-radius: 0 0 3px 3px;
        box-shadow: -1px -1px 2px var(--white-20) inset,
            0 -5px 2px 3px var(--black-60) inset, 0 2px 4px var(--black-50);
        background: linear-gradient(85deg, hsl(0, 0%, 13%) 0%, hsl(0, 0%, 30%) 80%);
        color: var(--white-50);
    }
}

@media only screen and (max-width: 480px) {
    .black {
        height: 12rem;
        width: 1.8rem;
        margin: 0 0 0 -1rem;
        z-index: 3;
        border: 1.0px solid black;
        border-radius: 0 0 1px 1px;
        box-shadow: -1px -1px 2px var(--white-20) inset,
            0 -5px 2px 3px var(--black-60) inset, 0 2px 4px var(--black-50);
        background: linear-gradient(85deg, hsl(0, 0%, 13%) 0%, hsl(0, 0%, 30%) 80%);
        color: var(--white-50);
    }
}

@media only screen and (max-width: 1200px) {
    #keyboard {
        height: 15.50rem;
        width: 62.0rem;
        margin: 0.5rem auto;
        padding: 3rem 0 0 3rem;
        z-index: 1;
        position: inherit;
        border: 10px solid var(--keyboard-border);
        border-radius: 1rem;
        background-color: var(--keyboard);
        box-shadow: 0 0 80px var(--black-50) inset, 0 1px var(--keyboard-shadow) inset,
        0 5px 15px var(--black-50);
    }
}

@media only screen and (max-width: 1024px) {
    #keyboard {
        height: 15.50rem;
        width: 55.8rem;
        margin: 0.5rem auto;
        padding: 3rem 0 0 3rem;
        z-index: 1;
        position: inherit;
        border: 10px solid var(--keyboard-border);
        border-radius: 1rem;
        background-color: var(--keyboard);
        box-shadow: 0 0 80px var(--black-50) inset, 0 1px var(--keyboard-shadow) inset,
        0 5px 15px var(--black-50);
    }
}

@media only screen and (max-width: 768px) {
    #keyboard {
        height: 15.50rem;
        width: 41.4rem;
        margin: 0.5rem auto;
        padding: 3rem 0 0 3rem;
        z-index: 1;
        position: inherit;
        border: 10px solid var(--keyboard-border);
        border-radius: 1rem;
        background-color: var(--keyboard);
        box-shadow: 0 0 80px var(--black-50) inset, 0 1px var(--keyboard-shadow) inset,
        0 5px 15px var(--black-50);
    }
}

@media only screen and (max-width: 480px) {
    #keyboard {
        height: 15.50rem;
        width: 28.0rem;
        margin: 0.5rem auto;
        padding: 3rem 0 0 3rem;
        z-index: 1;
        position: inherit;
        border: 10px solid var(--keyboard-border);
        border-radius: 1rem;
        background-color: var(--keyboard);
        box-shadow: 0 0 80px var(--black-50) inset, 0 1px var(--keyboard-shadow) inset,
        0 5px 15px var(--black-50);
    }
}